
.btn-yours {
  display: inline-block;
  background-color: royalblue;
  color: aliceblue;
  border-radius: 15px;
  padding: 22px 30px;
  text-shadow: 2px 2px 10px gray;
  font-weight: bold;
}

.btn-yours:hover {
  border-radius: 25px;
  transition: 500ms;
  padding: 30px 35px;
}
